
    /* *{
        box-sizing: border-box;
    } */

    body{
        
        /* margin-inline:500px;  */
        /* padding-inline:500px;  */
        font-size: 1.25rem;
        line-height: 1.6;        
    }

    
a:hover,
a:focus-visible{
    color: #3fa7d8;
}

    header{
        display: flex;
        gap: 60px;
        justify-content: space-between;
    }


.primary-navigation ul
{
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0px;
    padding: 0px;
    
}

.primary-navigation a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.primary-navigation a:hover,
.primary-navigation a:focus-visible {
     color: #3fa7d8;
}
    h1{
        text-align: center;
        font-size: 7.5rem;
        line-height: 1.1;
        /* border: 5px dotted red; */
    }

    .boulder-man{
    border-radius: 10px;}


    h2{
        color: #cb721c;
    }


    h3{
        font-size: 1.75rem;
    }

a{
    color: #2b930b;
}







    .teal-bg{
        background-color: #087a98;
        border: #0b4a5a solid 8px;
        color: #ffffff;
        padding: 20px;
        margin-block-start: 96px;
    }

.teal-text{
    color: #087a98;
}




section{
    margin-block: 100px;
}


.why-bouldering{
    color: #087a98;
}

.wrapper{
    max-inline-size: 1000px;
    margin-inline: auto;
}

.two-column-layout{
    display: grid;
    gap: 60px;
        
    @media(width > 500px)  {
    grid-template-columns: 1fr 1fr;
    }

}

img{
    max-inline-size: 100%;
    display: block;
}


.climber-bg{
    background-image: url("simple-steps.jpg");
    /* background-image: widt; */
    /* background-image: url('your-image.jpg'); */
    /* height: 300px; Set height so the background shows */
    /* background-repeat: repeat-x; */
    background-size: cover;
    background-position: center;
  color: white;
  padding: 24px;
  border: #0b4a5a solid 10px;
}





    footer{
       
        text-align: center;
        margin-block-start: 50px;


    }